/*.........POLICE PARAGRAPHE ................*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,300&display=swap");
/*.........POLICE TITLE ................*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,300&family=Ubuntu:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*...............HEADER....................*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px, 20%;
  background-color: rgb(118, 143, 179);
  padding: 10px;
  font-family: "ubuntu", serif, sans-serif;
  font-size: 25px;
}
.nav_bar,
.nav_items,
a {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(7, 7, 7);
}
.nav_items a {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin: auto 10px;
  font-size: 25px;
}
.items_social {
  display: flex;
  width: auto;
  font-size: 40px;
  align-items: center;
}
a,
li {
  list-style-type: none;
  width: auto;
}

.logo {
  height: 60px;
  cursor: pointer;
  color: #fff;
  padding-left: 10px;
}
.btn_social a {
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.back-img {
  position: relative;
  text-align: center;
  width: 1300px;
  height: 500px;
}

.title-job {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ubuntu", serif;
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.background {
  background-color: #fff;
  position: relative;
}
.txt-job {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "montserra", serif;
  font-size: 30px;
  font-style: italic;
}
.info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "montserra", serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
/*..............................SECTION 1.......................*/
.section1 {
  background-color: rgb(118, 143, 179);
  display: flex;
  justify-content: center;
}
.text_1 {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: auto 80px;
  color: #000;
}
.block_text_1 {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "ubuntu";
}
.block_text_2 {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "ubuntu";
}
.paragraphe {
  display: flex;
  justify-content: center;
}
.info-perso {
  display: flex;
  flex-direction: column;
}
.info-perso,
p,
li {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/*...........................................SECTION 2 HARDSKILL + GRID + PROGRESS_BAR ............................*/

.section2 {
  height: 370px;
  background-color: lightgrey;
  animation: pulse 5s infinite;
  padding-top: 10px;
}
/*.........titre..........*/
.hardskill {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #fff;
  border: 2px solid #000;
  margin: auto 38%;
  border-radius: 50px;
}
.port {
  margin: auto 39%;
  border-radius: 50px;
  border: 2px solid #000;
}
/*.....grid.........*/
.progress_bar {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 10px;
  margin: 0 auto;
  justify-content: center;
  height: 17em;
  padding-top: 1em;
  border-radius: 50px;
}
.progress_bar_items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.568);
  overflow: hidden;
}
.progress_bar_items::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.568);
  animation: load 5s infinite;
}
@keyframes load {
  0% {
    width: 0;
  }
  25% {
    width: 40%;
  }

  50% {
    width: 60%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

/*...........................................SECTION 3 " PORTFOLIO GRID " ..........................*/

.section3 {
  background-color: lightgrey;
  height: 800px;
}
/*.......titre.........*/
.port {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #fff;
}

/*......grid photo........*/
.grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-gap: 1.5em;
  justify-content: center;
  padding-top: 50px;
}
.grid_items {
  background-color: blanchedalmond;
  height: 20em;
  justify-content: center;
  border: 3px solid;
}
.img-grid {
  width: 20em;
  height: 20em;
}
/*...................................SECTION 4 FORMULAIRE DE CONTACT...............................................*/

.section4 {
  width: auto;
  height: 500px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: #ecf0f3;
  width: 30%;
  height: 450px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-form {
  width: 250px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  font-size: 1em;
}
.form_lab {
  display: flex;
  justify-content: center;
  padding: 2px;
}
.form-btn {
  display: flex;
  justify-content: center;
}
.btn-form {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  background-color: lightgreen;
}
button {
  margin: 20px;
  border-radius: 50px;
}

/*.........................................F O O T E R ...................................*/
footer {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #808080;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop specific */
@media (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
