/*.........POLICE PARAGRAPHE ................*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,300&display=swap");
/*.........POLICE TITLE ................*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,300&family=Ubuntu:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*...............HEADER....................*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px, 20%;
  background-color: rgb(118, 143, 179);
  padding: 10px;
  font-family: "ubuntu", serif, sans-serif;
  font-size: 25px;
}
.nav_bar,
.nav_items,
a {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(7, 7, 7);
}
.nav_items li {
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  margin: 10px 10px;
  font-size: 25px;
}
.items_social {
  display: flex;
  width: auto;
  font-size: 40px;
  align-items: center;
}
a,
li {
  list-style-type: none;
  width: auto;
}

.logo {
  height: 60px;
  cursor: pointer;
  color: #fff;
  padding-left: 10px;
}
.btn_social a {
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.back-img {
  position: relative;
  text-align: center;
  width: 1300px;
  height: 500px;
}

.title-job {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ubuntu", serif;
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.background {
  background-color: #fff;
  position: relative;
}
.txt-job {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "montserra", serif;
  font-size: 30px;
  font-style: italic;
}
.info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "montserra", serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
/*..............................SECTION 1.......................*/
.section1 {
  background-color: rgb(118, 143, 179);
  display: flex;
  justify-content: center;
}
.text_1 {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: auto 80px;
  color: #000;
}
.block_text_1 {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "ubuntu";
}
.block_text_2 {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: "ubuntu";
}
.paragraphe {
  display: flex;
  justify-content: center;
}
.info-perso {
  display: flex;
  flex-direction: column;
}
.info-perso,
p,
li {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/*...........................................SECTION 2 HARDSKILL + GRID + PROGRESS_BAR ............................*/

.section2 {
  height: 300px;
  background-color: lightgrey;
  animation: pulse 5s infinite;
}
/*.........titre "hardskill"..........*/
.hardskill {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #fff;
  border: 2px solid #000;
  margin: 0 35%;
  border-radius: 50px;
}
.port {
  margin: auto 39%;
  border-radius: 50px;
  border: 2px solid #000;
}
/*.....SECTION 2 .........*/
.section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*.......SPAN......*/
.techno {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "ubuntu";
}
/*.......... BAR DE PROGRESSION........*/
.progress_bar {
  display: flex;
  justify-content: space-around;
  height: 10em;
  padding-top: 1em;
}
/*........BAR DE PROGRESSION + ANIMATION  ..............*/
progress {
  padding: 25px;
}
.progress_bar_items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  border-radius: 10%;
  overflow: hidden;
}
.progress_bar_items::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(118, 143, 179);
  border-radius: 10%;

  animation: load 5s infinite;
}
@keyframes load {
  0% {
    width: 0;
  }
  25% {
    width: 40%;
  }

  50% {
    width: 60%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

/*...........................................SECTION 3 " PORTFOLIO GRID " ..........................*/

.section3 {
  background-color: lightgrey;
  height: 800px;
}
/*.......titre portfolio.........*/
.port {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #fff;
  border: 2px solid #000;
  margin: auto 470px;
  border-radius: 50px;
}

/*......grid photo........*/
.grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-gap: 1.5em;
  justify-content: center;
  padding-top: 50px;
}
.grid_items {
  background-color: blanchedalmond;
  height: 20em;
  justify-content: center;
  border: 3px solid;
}
.img-grid {
  width: 20em;
  height: 20em;
}
/*...................................SECTION 4 FORMULAIRE DE CONTACT...............................................*/

.section4 {
  width: auto;
  height: auto; /* taille de la div*/
  padding: 20px;
}
.formulaire {
  position: relative;
  top: 50%;
  left: 30%;
}
.form {
  background-color: #9bcdfc;
  border: 1px solid #000;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 1em;
}
.label {
  padding: 1%;
}
.input_items {
  width: 250px;
  border-radius: 3px;
  border: 1px solid;
}
textarea {
  height: 8em;
  border: 1px solid;
  border-radius: 3px;
}
.input_items,
textarea,
button {
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
}
h1 {
  padding: 20px;
  font-family: "ubuntu", serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  display: flex;
  justify-content: center;
  margin: 1px 0px;
  padding: 10px 30px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.897);
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-family: "ubuntu", sans-serif, serif;
  letter-spacing: 5px;
}
/*.........................................F O O T E R ...................................*/
footer {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #808080;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop specific */
@media (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
